.container {
  width: 1080px;
  margin-left: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

:root {
  --col-size: 8.33333%;
}

.col-lg-1 {
  flex-basis: var(--col-size);
}

.col-lg-2 {
  flex-basis: calc(var(--col-size) * 2);
}

.col-lg-3 {
  flex-basis: calc(var(--col-size) * 3);
}

.col-lg-4 {
  flex-basis: calc(var(--col-size) * 4);
}

.col-lg-5 {
  flex-basis: calc(var(--col-size) * 5);
}

.col-lg-6 {
  flex-basis: calc(var(--col-size) * 6);
}

.col-lg-7 {
  flex-basis: calc(var(--col-size) * 7);
}

.col-lg-8 {
  flex-basis: calc(var(--col-size) * 8);
}

.col-lg-9 {
  flex-basis: calc(var(--col-size) * 9);
}

.col-lg-10 {
  flex-basis: calc(var(--col-size) * 10);
}

.col-lg-11 {
  flex-basis: calc(var(--col-size) * 11);
}

.col-lg-12 {
  flex-basis: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  box-sizing: border-box;
  padding-left: 8px;
  padding-right: 8px;
}

/* .col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  box-sizing: border-box;
}

.col-xs-1 {
  flex-basis: var(--col-size);
}

.col-xs-2 {
  flex-basis: calc(var(--col-size) * 2);
}

.col-xs-3 {
  flex-basis: calc(var(--col-size) * 3);
}

.col-xs-4 {
  flex-basis: calc(var(--col-size) * 4);
}

.col-xs-5 {
  flex-basis: calc(var(--col-size) * 5);
}

.col-xs-6 {
  flex-basis: calc(var(--col-size) * 6);
}

.col-xs-7 {
  flex-basis: calc(var(--col-size) * 7);
}

.col-xs-8 {
  flex-basis: calc(var(--col-size) * 8);
}

.col-xs-9 {
  flex-basis: calc(var(--col-size) * 9);
}

.col-xs-10 {
  flex-basis: calc(var(--col-size) * 10);
}

.col-xs-11 {
  flex-basis: calc(var(--col-size) * 11);
}

.col-xs-12 {
  flex-basis: 100%;
} */