@import "layout.css";
@import "modal.css";
@import "../node_modules/microtip/microtip.min.css";
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --transition-duration-slow: 0.33s;
  --transition-duration-fast: 0.15s;
}

body {
  background-color: #1d243e;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  color: #fff;
}

p {
  margin: 0;
}

a {
  color: #fff;
}

.link {
  text-decoration: none;
  border-bottom: 0.8px solid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: border var(--transition-duration-slow);
  transition: border var(--transition-duration-slow);
}

.link:hover {
  border-bottom: 0.8px solid;
}

.main {
  margin-top: 35px;
  min-height: 100vh;
}

.h1 {
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.h2 {
  font-size: 28px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.h3 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.text--bold {
  font-weight: 600;
}

.text-align-center {
  text-align: center;
  margin-bottom: 0;
}

.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 8px;
  padding-bottom: 8px;
}

.header__wrapper {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header__content,
.header__left,
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__content {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  margin-right: 30px;
}

.header__balance {
  margin-right: 10px;
  background-color: #32436f;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 2px;
}

.header__balance-info {
  font-size: 13px;
}

.price-tokens {
  margin-right: 30px;
}

.header__link {
  text-decoration: none;
}

/* NAV */

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 35px;
}

.nav__item {
  font-size: 16px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
}

.nav__item--referal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.nav__item--active {
  background-color: #fff;
  color: #1d243e;
}

.nav__icon {
  margin-right: 8px;
  width: 20px;
}

/* TOKENS */

.tokens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.token {
  background-color: #fff;
  color: #000;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
}

.token__header,
.token__balance,
.token__buttons {
  padding-left: 20px;
  padding-right: 20px;
}

.token__header,
.token__balance {
  padding-top: 10px;
  padding-bottom: 10px;
}

.token__balance-text {
  margin-bottom: 4px;
  margin-top: 0;
}

.token__balance-number {
  margin-bottom: 4px;
}

.token__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.token__graphic {
  display: block;
  height: 149px;
  width: 289px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.token__name {
  color: #25b862;
}

.token__logo {
  height: 25px;
}

.token__name-caption {
  padding-top: 5px;
}

.token__name-caption--usda {
  color: #25b862;
}

.token__name-caption--btca {
  color: #ff9500;
}

.token__name-caption--etha {
  color: #57a6de;
}

.token__description {
  color: #000;
}

.token__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 2px;
}

.token__deposit-withdraw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 15px;
}

.token__buy-sell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.token__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  height: 28px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  -webkit-transition: background var(--transition-duration-slow);
  transition: background var(--transition-duration-slow);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.token__button--buy {
  background: #3BC77B;
  border-radius: 4px 0px 0px 0px;
  text-shadow: 0px 1px 3px rgba(36, 180, 126, 0.4);
}

.token__button--buy:hover {
  background: #4BD38A;
}

.token__button--buy:active {
  background: #25B366;
  -webkit-transition: none;
  transition: none;
}

.token__button--sell {
  background: #DB6F68;
  border-radius: 0px 4px 0px 0px;
  text-shadow: 0px 1px 3px rgba(205, 83, 83, 0.4);
}

.token__button--sell:hover {
  background: #EC8079;
}

.token__button--sell:active {
  background: #D35C55;
}

.token__button:hover,
.token__button:active {
  -webkit-transition: none;
  transition: none;
}

.token__link {
  color: #000;
  text-decoration: none;
  border-color: rgba(0, 0, 0, 0.15);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: border var(--transition-duration-slow);
  transition: border var(--transition-duration-slow);
}

.token__link:hover {
  border-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: none;
  transition: none;
}

.token__link:first-child {
  margin-bottom: 4px;
}

.token__description {
  cursor: default;
}

/* TRANSACTION HISTORY */

.history-table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.history-table__head {
  margin-bottom: 5px;
}

.history-table__body {
  /* background: #fff; */
  color: #000;
}

.history-table__cell {
  text-align: left;
  padding-top: 6px;
  padding-bottom: 6px;
}

.history-table__cell:first-child {
  padding-left: 20px;
}

.history-table__cell--body {
  background: #fff;
}

.history-table__row--body:first-child>.history-table__cell--body:first-child {
  border-top-left-radius: 5px;
}

.history-table__row--body:first-child>.history-table__cell--body:last-child {
  border-top-right-radius: 5px;
}

.history-table__row--body:last-child>.history-table__cell--body:first-child {
  border-bottom-left-radius: 5px;
}

.history-table__row--body:last-child>.history-table__cell--body:last-child {
  border-bottom-right-radius: 5px;
}

.history-table__row--body:hover>.history-table__cell--body {
  background: #e0e0e0;
}

/* FOOTER */

.footer {
  margin-top: 70px;
  margin-bottom: 50px;
  color: rgba(255, 255, 255, 0.5);
}

.footer__top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__link {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.15);
}

.footer__link:hover {
  color: #fff;
  border-color: #fff;
  -webkit-transition: border 0.1s, color 0.2s;
  transition: border 0.1s, color 0.2s;
}

.footer__bottom-section {
  margin-top: 50px;
}

.footer__text {
  margin-bottom: 1.25em;
}

/* TOKEN PAGE */

.token-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 328px;
  margin-bottom: 40px;
}

.token-page__graphic-wrapper {
  width: 584px;
  height: 328px;
}

.token-page__info {
  width: 100%;
  background: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.token-page__top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-bottom: 1px solid #e0e0e0;
  height: 76px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.token__balance--token-page {
  color: #000;
}

.token__balance--token-page {
  padding: 0;
}

.token-page__bottom-content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 252px;
}

.token-page__description {
  color: #000;
  font-size: 12px;
}

.token-page__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.token-page__buy-sell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.token-page__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  height: 28px;
  border-radius: 4px;
  -webkit-transition: background var(--transition-duration-slow);
  transition: background var(--transition-duration-slow);
}

.token-page__button--buy {
  background: #3BC77B;
  text-shadow: 0px 1px 3px rgba(36, 180, 126, 0.4);
  margin-right: 5px;
}

.token-page__button--buy:hover {
  background: #4BD38A;
}

.token-page__button--buy:active {
  background: #25B366;
  -webkit-transition: none;
  transition: none;
}

.token-page__button:hover,
.token-page__button:active {
  -webkit-transition: none;
  transition: none;
}

.token-page__button--sell {
  background: #DB6F68;
  text-shadow: 0px 1px 3px rgba(205, 83, 83, 0.4);
}

.token-page__button--sell:hover {
  background: #EC8079;
}

.token-page__button--sell:active {
  background: #D35C55;
}

.token-page__button:hover,
.token-page__button:active {
  -webkit-transition: none;
  transition: none;
}

.token-page__deposit-withdraw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#usda-chart {
  background: url('../img/usda-graphic-bg.png');
}

#btca-chart {
  background: url('../img/btca-graphic-bg.png');
}

#etha-chart {
  background: url('../img/etha-graphic-bg.png');
}

#usda-chart-big {
  background: url('../img/usda-graphic-big-bg.png');
}

/* INPUTS */

.ml145 {
  margin-left: 145px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.withdraw {
  margin-bottom: 35px;
}

.withdraw-form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.input-wrapper {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.input-wrapper--bg {
  background: #232f4e;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  border-radius: 2px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.input-error-text {
  color: #F44336;
}

.input-error-text--mt10 {
  margin-top: 10px;
}

.input-error-ml145 {
  margin-left: 145px;
}

.input {
  background: #fff;
  border-radius: 2px;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  -webkit-transition: -webkit-box-shadow var(--transition-duration-fast);
  transition: -webkit-box-shadow var(--transition-duration-fast);
  transition: box-shadow var(--transition-duration-fast);
  transition: box-shadow var(--transition-duration-fast), -webkit-box-shadow var(--transition-duration-fast);
  -webkit-box-shadow: 0 0 0 0 #277BA8;
  box-shadow: 0 0 0 0 #277BA8;
  height: 28px;
}

.input:focus {
  -webkit-box-shadow: 0 0 0 2px #277BA8;
  box-shadow: 0 0 0 2px #277BA8;
  outline: none;
}

.input--number {
  width: 150px;
}

.input--usdt {
  width: 321px;
}

.input--btc {
  width: 275px;
}

.input--eth {
  width: 354px;
}

.input--referal {
  width: 531px;
}

.input--with-button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input--settings {
  width: 300px;
}

.input--error {
  -webkit-box-shadow: 0 0 0 1px #F44336;
  box-shadow: 0 0 0 1px #F44336;
}

.input--error.input--with-button+.button--with-input {
  -webkit-box-shadow: 0 0 0 1px #F44336;
  box-shadow: 0 0 0 1px #F44336;
}

.label {
  margin-right: 10px;
  text-align: left;
}

.label--30 {
  width: 30px;
}

.label--135 {
  width: 135px;
  display: inline-block;
}

.label--for-radio {
  position: relative;
}

.input--radio {
  position: absolute;
  left: -9999px;
}

.label--for-radio::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: .5px solid rgba(255, 255, 255, .5);
  margin-right: 5px;
  border-radius: 2px;
  position: relative;
  top: 3px;
}

.label--for-radio::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 7px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-bottom-left-radius: 2px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  left: 1px;
  top: 2px;
  opacity: 0;
}

.input--radio:checked+.label--for-radio::after {
  opacity: 1;
}

.form__info {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
}

.button {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background var(--transition-duration-slow);
  transition: background var(--transition-duration-slow);
  border: none;
}

.button:hover {
  -webkit-transition: none;
  transition: none;
  cursor: pointer;
}

.button:active {
  -webkit-transition: none;
  transition: none;
}

.button--small {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 4px;
  font-size: 14px;
}

.button--large {
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
  font-size: 18px;
}

.button--regular {
  background: #566A9F;
  font-weight: normal;
}

.button--ghost {
  border: 1px solid;
}

.button--regular:hover {
  background: #6B7DAE;
}

.button--regular:active {
  background: #3C4F82;
}

.button--ghost {
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  padding-top: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: normal;
  cursor: pointer;
  border: 2px solid #566A9F;
  -webkit-transition: none;
  transition: none;
}

.button--ghost:hover {
  border-color: #6B7DAE;
}

.button--ghost:active {
  border-color: #3C4F82;
}

.button--ml145 {
  margin-left: 145px;
}

.button--inline {
  margin-left: 5px;
}

.button--main {
  background: #4caf50;
  -webkit-transition: background var(--transition-duration-slow);
  transition: background var(--transition-duration-slow);
}

.button--main:hover {
  background: #5bbd5f;
}

.button--main:active {
  background: rgba(50, 150, 54, 1);
}

.button--medium {
  height: 28px;
  padding-left: 8px;
  padding-right: 8px;
}

.button--with-input {
  height: 28px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #0B57BD;
  background: #fff;
  -webkit-box-shadow: 0 0 0 0 #277BA8;
  box-shadow: 0 0 0 0 #277BA8;
  font-weight: normal;
  cursor: pointer;
  -webkit-transition: color var(--transition-duration-slow), -webkit-box-shadow var(--transition-duration-fast);
  transition: color var(--transition-duration-slow), -webkit-box-shadow var(--transition-duration-fast);
  transition: color var(--transition-duration-slow), box-shadow var(--transition-duration-fast);
  transition: color var(--transition-duration-slow), box-shadow var(--transition-duration-fast), -webkit-box-shadow var(--transition-duration-fast);
  padding-right: 7px;
  position: relative;
}

.button--with-input:focus {
  outline: none;
}

.button--with-input:hover {
  color: #5598F3;
  -webkit-transition: none;
  transition: none;
}

.button--with-input:active {
  color: #0547A0;
  -webkit-transition: none;
  transition: none;
}

.input--with-button:focus+.button--with-input {
  -webkit-box-shadow: 0 0 0 2px #277BA8;
  box-shadow: 0 0 0 2px #277BA8;
  -webkit-transition: -webkit-box-shadow var(--transition-duration-fast);
  transition: -webkit-box-shadow var(--transition-duration-fast);
  transition: box-shadow var(--transition-duration-fast);
  transition: box-shadow var(--transition-duration-fast), -webkit-box-shadow var(--transition-duration-fast);
}

.input--with-button+.button--with-input:before {
  height: 28px;
  width: 2px;
  background-color: #fff;
  content: " ";
  position: absolute;
  left: -2px;
  top: 0;
}

.caption {
  font-size: 13px;
  margin-top: 7px;
}

.token-buy__form {
  margin-top: 10px;
}

.token-buy-calculator,
.token-sell-calculator {
  margin-top: 25px;
}

.input-text-between {
  margin-left: 5px;
  margin-right: 5px;
}

.text-under-form {
  margin-left: 145px;
}

.wrapper {
  margin-top: 30px;
}

.input--gift {
  width: 483px;
}

.radio-input--hidden {
  position: absolute;
  left: -9999px;
}

.label--radio-button {
  background: #566A9F;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  padding-top: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: normal;
  cursor: pointer;
  border: 2px solid transparent;
  -webkit-transition: none;
  transition: none;
}

.label--radio-button:hover {
  background: #6B7DAE;
}

.label--radio-button:active {
  background: #3C4F82;
}

.radio-button-upper-text {
  position: absolute;
  left: 7px;
  top: 2px;
  color: #fff;
  background: #566A9F;
  padding-left: 2px;
  padding-right: 2px;
}

.label--radio-button:hover>.radio-button-upper-text {
  background: #6B7DAE;
}

.label--radio-button:active>.radio-button-upper-text {
  background: #3C4F82;
}

.radio-input--hidden:checked+.label--radio-button {
  border: 2px solid #3C4F82;
  background: none;
}

.radio-input--hidden:checked+.label--radio-button>.radio-button-upper-text {
  display: none;
}

.button--buy {
  width: 300px;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.textarea {
  height: 70px;
  resize: none;
}

/* TABLE */

.table {
  text-align: left;
  border-collapse: collapse;
  padding-left: 3px;
}

.gifts-form__table,
.referal-table {
  width: 100%;
}

.thead {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.th {
  padding-bottom: 5px;
}

.tbody td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.tbody tr:hover {
  background: rgba(0, 0, 0, 0.15);
}

.note {
  margin-top: 40px;
  font-style: italic;
}

.note--border-left {
  border-left: 5px solid #32436f;
  padding-left: 10px;
  margin-left: -15px;
}

.note--referal {
  width: 460px;
}

.note__text {
  color: rgba(255, 255, 255, 0.8);
}

/* SETTINGS */

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #fff;
}

.tabs--settings {
  margin-top: 30px;
}

.tabs__item {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
  margin-right: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-transition: background var(--transition-duration-slow);
  transition: background var(--transition-duration-slow);
}

.tabs__item:last-child {
  margin-right: 0;
}

.tabs__item:hover {
  background-color: rgba(255, 255, 255, .1);
  -webkit-transition: none;
  transition: none;
}

.tabs__item--active {
  background: #fff;
  color: #1D243E;
}

.tabs__item--active:hover {
  background: #fff;
}

.input-wrapper--settings {
  margin-top: 25px;
}

.input--photo {
  position: absolute;
  left: -9999px;
}

.label--photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  border: 1px dashed #566A9F;
  height: 80px;
  text-align: center;
  border-radius: 2px;
  padding-left: 7px;
  padding-right: 7px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: transparent;
  -webkit-transition: background var(--transition-duration-slow);
  transition: background var(--transition-duration-slow);
}

.label--photo:hover {
  background: rgba(0, 0, 0, 0.1);
}

.label--photo:active {
  background: rgba(0, 0, 0, 0.15);
}

.label--photo:hover,
.label--photo:active {
  -webkit-transition: none;
  transition: none;
}

/* SUPPORT */

.select {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  border-radius: 2px;
}

.option {
  color: #000;
}

.select--support,
.textarea--support,
.input--support {
  width: 300px;
}

.textarea--support {
  height: 120px;
  padding-left: 7px;
}

.answer {
  text-decoration: none;
}

.answer__string:first-child {
  margin-bottom: 3px;
}

.answer__string--red-dot:last-child::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #F44336;
  display: inline-block;
  border-radius: 50px;
  margin-left: 5px;
  position: relative;
  bottom: 1px;
}

.link--support {
  border-color: rgba(255, 255, 255, 0.33);
}

.answer:hover>.link--support {
  border-color: #fff;
  -webkit-transition: none;
  transition: none;
}

.input-wrapper--support {
  margin-bottom: 15px;
}

.button--delete-question {
  margin-left: 10px;
  margin-right: 10px;
}

.support-form {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 10px;
}

.support-message__caption {
  margin-bottom: 10px;
}

.support-message__date {
  font-size: 12px;
  margin-top: 5px;
}

.support-reply {
  margin-top: 40px;
}

/* SIGN IN, SIGN UP AND RESET PASSWORD */

.container--center {
  margin: 0 auto;
  text-align: center;
}

.col--center {
  margin: 0 auto;
}

.sign {
  margin-top: 70px;
}

.sign__h1 {
  margin-top: 50px;
  margin-bottom: 40px;
  font-weight: normal;
  font-size: 28px;
  line-height: 1.30;
}

.sign__form {
  display: flex;
  flex-direction: column;
}

.sign__input {
  height: 48px;
  text-align: center;
  margin-bottom: 12px;
  border: 1px solid #63729A;
  background: #1D243E;
  box-sizing: border-box;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
}

.sign-input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.sign-input-group__input {
  height: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border: 1px solid #63729A;
  background: #1D243E;
  box-sizing: border-box;
  color: #fff;
  font-size: 18px;
}

.sign-input-group__input--top {
  border-top-left-radius: 3px;
  border-top-left-radius: 3px;
}

.sign-input-group__input--bottom {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top: -1px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #63729A;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #63729A;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #63729A;
}

.sign__input--group {
  margin-bottom: 0;
}

.sign__button {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 21px;
  padding-right: 21px;
  background: #fff;
  color: #4D65BF;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 3px;
  text-decoration: none;
  transition: background var(--transition-duration-slow);
}

.sign__button:hover {
  background: rgba(255, 255, 255, 0.9);
  transition: none;
}

.sign__button:active {
  background: rgba(255, 255, 255, 0.8);
  transition: none;
}

.sign__links {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
}

.sign__link {
  font-size: 18px;
  margin-bottom: 15px;
  text-decoration: none;
  color: #63729A;
  border-bottom: 1px solid rgba(99, 114, 154, 0.4);
  width: fit-content;
  text-align: center;
  transition: border-bottom var(--transition-duration-slow);
}

.sign__link:hover {
  border-bottom: 1px solid rgba(99, 114, 154, 1);
  transition: none;
}

.sign__form--input-group {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.sign__link--action,
.sign__link--action:hover {
  border-bottom-style: dashed;
}

.sign__input--with-button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
}

.sign__button--with-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}